.flex{
    display: flex;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-column-left{
    position: absolute;
    left:50%
}

.btn{
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

a{
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}

.small_button{
    font-size: 1.2rem;
    padding: 4px 14px;
    margin: 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center; 
}

